language: "php"

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script: 
- "composer require codeclimate/php-test-reporter --dev"
- "composer install"

script: 
- "phpunit --coverage-text --coverage-clover build/logs/clover.xml"

after_script:
- CODECLIMATE_REPO_TOKEN="78b75afde0c8fe0bd9e6b81fbc2db0dbe4ed407ed65de25f8572d6515d92c09a" vendor/bin/test-reporter --stdout > codeclimate.json
- "sh -c 'if [ \"$TRAVIS_PHP_VERSION\" != \"hhvm\" ]; then curl -X POST -d @codeclimate.json -H \"Content-Type: application/json\" -H \"User-Agent: Code Climate (PHP Test Reporter v0.1.1)\" https://codeclimate.com/test_reports  ; fi'"